[buildout]
develop = .
extensions = mr.developer
newest = false
parts = test
show-picked-versions = true
prefer-final = true

# mr.developer
always-checkout = true
auto-checkout = *
sources = sources
sources-dir = checkouts


[sources]
crom = git https://github.com/Cromlech/crom.git
grokker = git https://github.com/Cromlech/grokker.git
cromlech.browser = git https://github.com/Cromlech/cromlech.browser.git


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    pytest
    cromlech.location [test]
